# Sanitized random DonatePay rules. Credentials are intentionally omitted.

rule_100.amount=75
rule_100.mode=random
rule_100.cmd1=say {name} запустил хороший рандом!
rule_100.cmd2=/dpi test {user} 10 1
rule_100.cmd3=/dpi test {user} 15 1
rule_100.cmd4=/dpi test {user} 20 1
rule_100.cmd5=/dpi test {user} 25 1
rule_100.cmd6=/dpi test {user} 33 1
rule_100.cmd7=/dpi test {user} 34 1
rule_100.cmd8=/dpi test {user} 35 1
rule_100.cmd9=/dpi test {user} 36 1
rule_100.cmd10=/dpi test {user} 37 1
rule_100.cmd11=/dpi test {user} 40 1
rule_100.cmd12=/dpi test {user} 47 1
rule_100.cmd13=/dpi test {user} 48 1
rule_100.cmd14=/dpi test {user} 49 1
rule_100.cmd15=/dpi test {user} 50 1
rule_100.cmd16=/dpi test {user} 52 1
rule_100.cmd17=/dpi test {user} 55 1
rule_100.cmd18=/dpi test {user} 60 1
rule_100.cmd19=/dpi test {user} 66 1
rule_100.cmd20=/dpi test {user} 68 1
rule_100.cmd21=/dpi test {user} 69 1
rule_100.cmd22=/dpi test {user} 70 1
rule_100.cmd23=/dpi test {user} 71 1
rule_100.cmd24=/dpi test {user} 72 1
rule_100.cmd25=/dpi test {user} 73 1
rule_100.cmd26=/dpi test {user} 75 1
rule_100.cmd27=/dpi test {user} 76 1
rule_100.cmd28=/dpi test {user} 78 1
rule_100.cmd29=/dpi test {user} 79 1
rule_100.cmd30=/dpi test {user} 90 1
rule_100.cmd31=/dpi test {user} 91 1
rule_100.cmd32=/dpi test {user} 92 1
rule_100.cmd33=/dpi test {user} 96 1
rule_100.cmd34=/dpi test {user} 99 1
rule_100.cmd35=/dpi test {user} 101 1
rule_100.cmd36=/dpi test {user} 120 1
rule_100.cmd37=/dpi test {user} 121 1
rule_100.cmd38=/dpi test {user} 123 1
rule_100.cmd39=/dpi test {user} 124 1
rule_100.cmd40=/dpi test {user} 125 1
rule_100.cmd41=/dpi test {user} 126 1
rule_100.cmd42=/dpi test {user} 127 1
rule_100.cmd43=/dpi test {user} 142 1
rule_100.cmd44=/dpi test {user} 154 1
rule_100.cmd45=/dpi test {user} 313 1
rule_100.cmd46=/dpi test {user} 365 1
rule_100.cmd47=/dpi test {user} 444 1
rule_100.cmd48=/dpi test {user} 500 1

rule_101.amount=220
rule_101.mode=random
rule_101.cmd1=say {name} запустил плохой рандом!
rule_101.cmd2=/dpi test {user} 17 1
rule_101.cmd3=/dpi test {user} 21 1
rule_101.cmd4=/dpi test {user} 22 1
rule_101.cmd5=/dpi test {user} 36 1
rule_101.cmd6=/dpi test {user} 42 1
rule_101.cmd7=/dpi test {user} 45 1
rule_101.cmd8=/dpi test {user} 61 1
rule_101.cmd9=/dpi test {user} 62 1
rule_101.cmd10=/dpi test {user} 63 1
rule_101.cmd11=/dpi test {user} 77 1
rule_101.cmd12=/dpi test {user} 88 1
rule_101.cmd13=/dpi test {user} 93 1
rule_101.cmd14=/dpi test {user} 95 1
rule_101.cmd15=/dpi test {user} 111 1
rule_101.cmd16=/dpi test {user} 122 1
rule_101.cmd17=/dpi test {user} 128 1
rule_101.cmd18=/dpi test {user} 129 1
rule_101.cmd19=/dpi test {user} 148 1
rule_101.cmd20=/dpi test {user} 166 1
rule_101.cmd21=/dpi test {user} 168 1
rule_101.cmd22=/dpi test {user} 175 1
rule_101.cmd23=/dpi test {user} 222 1
rule_101.cmd24=/dpi test {user} 261 1
rule_101.cmd25=/dpi test {user} 301 1
rule_101.cmd26=/dpi test {user} 305 1
rule_101.cmd27=/dpi test {user} 333 1
rule_101.cmd28=/dpi test {user} 335 1
rule_101.cmd29=/dpi test {user} 355 1
rule_101.cmd30=/dpi test {user} 362 1
rule_101.cmd31=/dpi test {user} 366 1
rule_101.cmd32=/dpi test {user} 377 1
rule_101.cmd33=/dpi test {user} 388 1
rule_101.cmd34=/dpi test {user} 399 1
rule_101.cmd35=/dpi test {user} 433 1
rule_101.cmd36=/dpi test {user} 455 1
rule_101.cmd37=/dpi test {user} 456 1
rule_101.cmd38=/dpi test {user} 466 1
rule_101.cmd39=/dpi test {user} 467 1
rule_101.cmd40=/dpi test {user} 777 1
rule_101.cmd41=/dpi test {user} 799 1
rule_101.cmd42=/dpi test {user} 888 1
rule_101.cmd43=/dpi test {user} 999 1
rule_101.cmd44=/dpi test {user} 1222 1
rule_101.cmd45=/dpi test {user} 1333 1
rule_101.cmd46=/dpi test {user} 2222 1
rule_101.cmd47=/dpi test {user} 3333 1
rule_101.cmd48=/dpi test {user} 5555 1
